.main-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-container {
  max-width: 100%;
}

table {
  border-collapse: collapse;
  background-color: #323232;
  color: white;
  border-radius: 0 0 10px 10px;
  width: fit-content;
}

caption {
  color:darkorange;
  font-size: 30px;
  background-color: hsl(0 0% 0%);
  text-transform: uppercase;
  border-radius: 10px 10px 0 0;
}

th,
td {
  padding: 1rem;
  text-align: left;
}

th {
  background-color: hsl(0 0% 0% / 0.5);
}

tr:nth-of-type(2n) {
  background-color: hsl(0 0% 0% / 0.2);
}

table {
  overflow-x: scroll;
  width: 100%;
}

@media (max-width: 650px) {
  .table-container {
    width: 100%;
  }
  th {
    display: none;
  }
  td {
    display: grid;
    grid-template-columns: 20ch auto;
  }
  td::before {
    font-weight: 700;
    content: attr(data-cell) ": ";
  }
}

